<html>
	<head>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css">
		<script type="text/javascript" src="/javascripts/calendar.js"></script>
	</head>
	<body>
		<h1 class="title text-center"> November 2018 </h1>
		<div class="calendar" data-toggle="calendar">
		<div class="row">
			<div class="col-xs-12 calendar-week">
				Sunday
			</div>
			<div class="col-xs-12 calendar-week">
				Monday
			</div>
			<div class="col-xs-12 calendar-week">
				Tuesday
			</div>
			<div class="col-xs-12 calendar-week">
				Wednesday
			</div>
			<div class="col-xs-12 calendar-week">
				Thursday
			</div>
			<div class="col-xs-12 calendar-week">
				Friday
			</div>
			<div class="col-xs-12 calendar-week">
				Saturday
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2018-10-28">28</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2018-10-29">29</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2018-10-30">30</time>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2018-10-31">31</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-1">01</time>
				<div class="events">
					<div class="event">
						<h4>Parents Meeting</h4>
						<span class="away">17 min away</span>
						<div class="desc">
							<p>We would like to invite you to attend Parents Meeting. These meetings are a valuable chance to meet with your child’s class teacher to discuss how your child has settled in since the start of year, review their progress, and consider next steps in their learning. </p>
						</div>
						<div class="phone"> <span class="glyphicon glyphicon-phone-alt"></span>
							(412) 268-2000
						</div>
						<div class="location"> <span class="glyphicon glyphicon-map-marker"></span> 23, NASA Research Park, Moffett Field, CA</div>
						<div class="datetime"> <span class="glyphicon glyphicon-time"></span> 10:00am - 12:00pm</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="134" style="width: 54.477%;">
								<span class="sr-only">54.477% Filled</span>
							</div>
						</div>
						<strong class="invited">Parents are invited</strong>
					</div>
				</div>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-02">02</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-03">03</time>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-04">04</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-05">05</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-06">06</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-07">07</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-08">08</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-09">09</time>
				<div class="events">
					<div class="event">
						<h4>Sports Meeting</h4>
						<span class="away">17 min away</span>
						<div class="desc">
							<p>Our school organizing Annual Sports Day in winter vocations this year. This event will involve almost all the students according to their interest. Event will include 20 different games, Bake sale, Music Competition and much more for entertainment.</p>
						</div>
						<div class="phone"> <span class="glyphicon glyphicon-phone-alt"></span>
							(412) 268-2000
						</div>
						<div class="location"> <span class="glyphicon glyphicon-map-marker"></span> 23, NASA Research Park, Moffett Field, CA</div>
						<div class="datetime"> <span class="glyphicon glyphicon-time"></span> 10:00am - 06:00pm</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="134" style="width: 28.7%;">
								<span class="sr-only">28.7% Filled</span>
							</div>
						</div>
						<strong class="invited">Parents do not need to join</strong>
					</div>
				</div>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-10">10</time>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-11">11</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-12">12</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-13">13</time>
				<div class="events">
					<div class="event">
						<h4>Registration Day</h4>
						<span class="away">17 min away</span>
						<div class="desc">
							<p>First day of registration for 2019 Spring.</p>
						</div>
						<div class="phone"> <span class="glyphicon glyphicon-phone-alt"></span>
							(412) 268-2000
						</div>
						<div class="location"> <span class="glyphicon glyphicon-map-marker"></span> 23, NASA Research Park, Moffett Field, CA</div>
						<div class="datetime"> <span class="glyphicon glyphicon-time"></span> 09:00am - 08:00pm</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="134" style="width: 99.7%;">
								<span class="sr-only">99.7% Filled</span>
							</div>
						</div>
						<strong class="invited">Parents do not need to join</strong>
					</div>
				</div>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-14">14</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-15">15</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-16">16</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-17">17</time>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-18">18</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-19">19</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-20">20</time>
			</div>
			<div class="col-xs-12 calendar-day" style="background: lightgrey">
				<time datetime="2018-11-21">21</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-22">22</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-23">23</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-24">24</time>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-25">25</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-26">26</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-27">27</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-28">28</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-29">29</time>
			</div>
			<div class="col-xs-12 calendar-day">
				<time datetime="2018-11-30">30</time>
				<div class="events">
					<div class="event">
						<h4>End of Semester</h4>
						<span class="away">17 min away</span>
						<div class="desc">
							<p>The last day of 2018 Fall semester.</p>
						</div>
						<div class="phone"> <span class="glyphicon glyphicon-phone-alt"></span>
							(412) 268-2000
						</div>
						<div class="location"> <span class="glyphicon glyphicon-map-marker"></span> 23, NASA Research Park, Moffett Field, CA</div>
						<div class="datetime"> <span class="glyphicon glyphicon-time"></span> 10:00am - 11:00pm</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="134" style="width: 28.7%;">
								<span class="sr-only">28.7% Filled</span>
							</div>
						</div>
						<strong class="invited">Parents do not need to join</strong>
					</div>
				</div>
			</div>
			<div class="col-xs-12 calendar-day calendar-no-current-month">
				<time datetime="2018-12-01">01</time>
			</div>
		</div>
	</div>
	<br/>
	<div align="center">
		<button class="btn btn-block btn-lg btn-primary" style="width: 10%;">Add</button>
	</div>
	</body>
</html>