<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css">
        <link href="/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

        <!-- Loading Flat UI -->
        <link href="/dist/css/flat-ui.css" rel="stylesheet">
        <link href="/docs/assets/css/demo.css" rel="stylesheet">
        <link rel="../static/shortcut icon" href="/dist/favicon.ico">
    </head>
    <body style="background-image:url('/images/bg.jpg')">
        <div class="row demo-row">
            <div class="col">
                <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
                    <a class="navbar-brand" href="#">EDU-X</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-01">
                        <ul class="nav navbar-nav ml-auto">
                            <li><a href="#fakelink">User<span class="navbar-unread">1</span></a></li>
                            <li><a href="#fakelink">Log Out</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav><!-- /navbar -->
            </div>
        </div> <!-- /row -->
    
        <div class="row demo-samples">
            <div class="col-2">
                <div class="todo">
                    <ul>
                        <li><a href="/">
                            <div style = "color:white" class="todo-icon fui-calendar"></div>
                            <div class="todo-content">
                                <p></p>
                                <h2 class="todo-name">
                                    <a href="/"><div style="color: white">Calendar</div></a>
                                </h2>
                            </div></a>
                        </li>
                        <li><a href = "/video">
                            <div style="color:white" class="todo-icon fui-user"></div>
                            <div class="todo-content">
                                <p></p>
                                <h2 class="todo-name">
                                    <a href="/video"><div style="color: white">Video Conference</div></a>
                                </h2>
                            </div>
                        </a></li>
                        <li><a href="/gameSelect">
                            <div style="color:white" class="todo-icon fui-eye"></div>
                            <div class="todo-content">
                                <p></p>
                                <h2 class="todo-name">
                                    <a href="gameSelect"><div style="color: white">Mini Game</div></a>
                                </h2>
                            </div></a>
                        </li>
                        <li><a href="/ai">
                            <div style="color:white" class="todo-icon fui-chat"></div>
                            <div class="todo-content">
                                <p></p>
                                <h2 class="todo-name">
                                    <a href="/ai"><div style="color: white">AI Assistant</div></a>
                                </h2>
                            </div></a>
                        </li>
                        <li><a href="/settings">
                            <div style="color:white" class="todo-icon fui-gear"></div>
                            <div class="todo-content">
                                <p></p>
                                <h2 class="todo-name">
                                    <a href="/settings"><div style="color: white">Notification Settings</div></a>
                                </h2>
                            </div></a>
                        </li>
                        <li><a href="gallery">
                            <div style="color:white" class="todo-icon fui-image"></div>
                            <div class="todo-content">
                                <p></p>
                                <h2 class="todo-name">
                                    <a href="/gallery"><div style="color: white">Art Gallery</div></a>
                                </h2>
                            </div></a>
                        </li>
                    </ul>
                </div><!-- /.todo -->
            </div><!-- /.col-4 -->
        <div class="gallery">
            <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="date" data-toggle="dropdown">
                search by date
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="date" >
                <li role="presentation">
                    <button id="btn1">latest one week</button>
                </li>
                <li role="presentation">
                    <button id="btn2">latest one month</button>
                </li>
                <li role="presentation">
                    <button id="btn3">latest three months </button> 
                </li>
            </ul>
            </div>
            <div id="today">
                <h3>
                    Today
                </h3>
                <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
                <div class="card-group">
                    <div class="card" style="width: 400px" >
                        <img class="card-img-top" src="images/gallery_1.png" alt="Card image" style="width: 100%">
                        <div class="card-block">
                            <h4 class="card-title">Hamberger and Beverage</h4>
                        </div>
                    </div>
                    <div class="card" style="width: 400px">
                        <img class="card-img-top" src="images/gallery_2.png" alt="Card image" style="width: 100%">
                        <div class="card-block">
                            <h4 class="card-title">Sun and Moon</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Nov">
                <h3>
                    Nov 3rd
                </h3>
                <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
                <div class="card-group">
                    <div class="card" style="width: 400px">
                        <img class="card-img-top" src="images/gallery_3.png" alt="Card image" style="width: 400px">
                        <div class="card-block">
                            <h4 class="card-title">Cattle</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $("#btn1").click(()=>{
                $("#Nov").hide();
                $("#date").text("latest one week");
            })
            $("#btn2").click(()=>{
                $("#Nov").show();
                $("#date").text("latest one month");
            })
            $("#btn3").click(()=>{
                $("#Nov").show();
                $("#date").text("latest three months");
            })
        </script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Bootstrap 4 requires Popper.js -->
        <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
        <script src="/dist/scripts/flat-ui.js"></script>
        <script src="/docs/assets/js/application.js"></script>
    </body>

</html>