<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
  <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="/dist/css/flat-ui.css" rel="stylesheet">
  <link href="/docs/assets/css/demo.css" rel="stylesheet">
  <!--<link href="docs/assets/css/chat.css", rel="stylesheet">-->
  <link rel="../static/shortcut icon" href="/dist/favicon.ico">
  <style type="text/css">
    #canvas{
      margin: .25rem 0 0 1.5rem;
      border: 1px solid black;
      display: block;
      text-align:center
    }
    #content{
      text-align:center
    }
  </style>

</head>
<body>
<div class="row demo-row">
  <div class="col">
    <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
      <a class="navbar-brand" href="/">EDU-X</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav ml-auto">
          <li><a href="#fakelink">User<span class="navbar-unread">1</span></a></li>
          <li><a href="/login">Log Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
  </div>
</div> <!-- /row -->

<div class="row demo-samples">
    <div class="col-2">
        <div class="todo">
            <ul>
                <li><a href = "/">
                    <div style="color: white" class="todo-icon fui-calendar"></div>
                    <div class="todo-content">
                        <p></p>
                        <h2 class="todo-name">
                            <a href="/"><div style="color: white">Calendar</div></a>
                        </h2>
                    </div></a>
                </li>
                <li><a href = "/video">
                    <div style="color: white" class="todo-icon fui-user"></div>
                    <div class="todo-content">
                        <p></p>
                        <h2 class="todo-name">
                            <a href="/video"><div style="color: white">Video Conference</div></a>
                        </h2>
                    </div>
                </a>
                </li>
              <li class="todo-done"><a href = "/gameSelect">
                    <div  class="todo-icon fui-eye"></div>
                    <div class="todo-content">
                        <p></p>
                        <h2 class="todo-name">
                            <a href="/gameSelect"><strong>Mini Game</strong></a>
                        </h2>
                    </div>
              </a>
                </li>
                <li><a href = "/ai">
                    <div style="color: white" class="todo-icon fui-chat"></div>
                    <div class="todo-content">
                        <p></p>
                        <h2 class="todo-name">
                            <a href="/ai"><div style="color: white">AI Assistant</div></a>
                        </h2>
                    </div></a>
                </li>
                <li><a href = "/settings">
                    <div style="color: white" class="todo-icon fui-gear"></div>
                    <div class="todo-content">
                        <p></p>
                        <h2 class="todo-name">
                            <a href="/settings"><div style="color: white">Notification Settings</div></a>
                        </h2>
                    </div></a>
                </li>
                <li><a href = "/gallery">
                    <div style="color: white" class="todo-icon fui-image"></div>
                    <div class="todo-content">
                        <p></p>
                        <h2 class="todo-name">
                            <a href="/gallery"><div style="color: white">Art Gallery</div></a>
                        </h2>
                    </div></a>
                </li>
            </ul>
        </div><!-- /.todo -->
    </div><!-- /.col-4 -->


  <div class = "col-3">
    <div id = "content" style = "margin-left:120px">
      <canvas id="canvas" height="500" width="600"></canvas>
      <table>
      <tr >
        <td><input id = "guess" style = "margin-left:200px"></td>
        <td><button id = "bt2"  class="btn btn-block btn-lg btn-info" style = "width:100px">guess</button></td>
        <td><button id = "clean" style = "display:none;width:100px;margin-left:250px"  class="btn btn-block btn-lg btn-info">clean</button></td>
        <td><button id = "giveUp" class="btn btn-block btn-lg btn-info" style = "width:100px">Give up</button></td>
      </tr>
      </table>
    </div>
  </div>
  <div class = "col-4" style = "margin-left:370px">
    <h3 id = "stat"></h3>
    <h4 id = "result"></h4>
    <div id = "countDown"></div>
  </div>
</div>
<bgsound id="snd" loop="0" src=""/>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script type = "text/javascript">

  var bt2 = document.getElementById("bt2");
  let theCanvas = document.querySelector('#canvas');
  let context = theCanvas.getContext('2d')
  let isAllowDrawLine = false;
  var username = localStorage.getItem("username");
  var countDown = 60;
  var items = ['apple','cat','car','house','sun'];
  var hasDrawn = [false,false,false,false,false];
  var answer;
  var socket = io();
  var chosen;
  console.log(username);
  if(username == "kid"){
    initCanvas();
    select();
    document.getElementById("bt2").style.display = "none";
    document.getElementById("guess").style.display = "none";
    document.getElementById("clean").style.display = "inline";
  }
  bt2.onclick = function(){
    var g = document.getElementById("guess").value;
    guess(g);
  }
  var clean = document.getElementById("clean");
  clean.onclick = function(){
    theCanvas.height = theCanvas.height;
    socket.emit("clean","");
  }
  var giveUp = document.getElementById("giveUp");
  giveUp.onclick = function(){
    socket.emit("giveUp","");
  }
  function guess(g){
    socket.emit("guess",g);
  }
  function select(){
    var flag = false;
    for(var i=0;i<5;i++){
      if(!hasDrawn[i]){
        flag = true;
        break;
      }
    }
    if(!flag){
      for(var i=0;i<5;i++){
        hasDrawn[i] = false;
      }
    }
    do{
      chosen = Math.floor(Math.random()*5)
    }while (hasDrawn[chosen]);
    hasDrawn[chosen] = true;
    document.getElementById("stat").innerText = "Please draw: " + items[chosen];
    answer = items[chosen];
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange=function() {
      if (xmlHttp.readyState==4 && xmlHttp.status==201) {
        console.log("Success set answer");
      }
    };
    xmlHttp.open('POST', 'https://better-edu.herokuapp.com/game/answer', true);
    xmlHttp.send(items[chosen]);
  }
  function initCanvas() {
    theCanvas.onmousedown = function (e) {
      isAllowDrawLine = true;
      let ele = windowToCanvas(theCanvas, e.clientX, e.clientY)
      let {x, y} = ele;
      context.moveTo(x, y);
      socket.emit('down', {x: x, y: y});
      theCanvas.onmousemove = (e) => {
        if (isAllowDrawLine) {
          let ele = windowToCanvas(theCanvas, e.clientX, e.clientY)
          let {x, y} = ele;
          context.lineTo(x, y);
          context.stroke();
          socket.emit('move', {x: x, y: y});
        }
      }
    }
    theCanvas.onmouseup = function () {
      isAllowDrawLine = false;
    }
  }

  const windowToCanvas = (canvas, x, y) => {
    let rect = canvas.getBoundingClientRect()
    return {
      x: x - rect.left * (canvas.width/rect.width),
      y: y - rect.top * (canvas.height/rect.height)
    }
  }


  socket.on('data',(data)=>{
    console.log(data);
  });
  socket.on('move',(data)=>{
    var x = data.x;
    var y = data.y;
    context.lineTo(x, y);
    context.moveTo(x, y);
    context.stroke();
  });
  socket.on('down',(data)=>{
    var x = data.x;
    var y = data.y;
    context.moveTo(x, y);
  })
  socket.on("success",(data)=>{
    document.getElementById("result").innerText = "Good job!\nNew games starts in 5 seconds...";
    new Audio("audios/hooray.mp3").play();
    setTimeout("init()",5000);
  });
  socket.on("fail",(data)=>{
    document.getElementById("result").innerText = "Sorry, please try again";
  });
  socket.on("clean",(data)=>{
    theCanvas.height = theCanvas.height;
  });
  socket.on("giveUp",(data)=>{
    document.getElementById("result").innerText = "The player gives up \nNew game will start in 5 seconds...";
    setTimeout("init()",5000);
  });

  function playSound(src) {
    var _s = document.getElementById('snd');
    if (src != '' && typeof src != undefined) {
      _s.src = src;
    }
  }

    function init(){
    countDown = 60;
    //setInterval("count()",1000);
    if(username == "kid") {
      select();
    }
    theCanvas.height = theCanvas.height;
    document.getElementById("result").innerText = "";
  }
/*
  function count(){
    countDown --;
    var c = document.getElementById("countDown");
    c.innerText = "Time left: " + countDown + " seconds";
    if(countDown == 0){
      var ans ="";
      if(username!='kid') ans = "The answer is: "+answer+"\n";
      document.getElementById("result").innerText = "Time out!\n"+ans+"New game will start in 5 seconds...";
      setTimeout("init()",5000);
    }
  }
*/
</script>
