<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style type="text/css">
    #canvas{
      margin: .25rem 0 0 1.5rem;
      border: 1px solid black;
      display: block;
      text-align:center
    }
    #content{
      text-align:center
    }
  </style>
  <script src="http://localhost:8080/socket.io/socket.io.js"></script>
</head>
<body>
<div id = "content">
<canvas id="canvas" width="600" height="500" ></canvas>
<input id = "guess">
<button id = "bt2">guess</button>
<button id = "clean" style = "display:none">clean</button>
<button id = "giveUp">Give up</button>
<h3 id = "stat"></h3>
<h4 id = "result"></h4>
<div id = "countDown"></div>
</div>
</body>
</html>

<script type = "text/javascript">

  var bt2 = document.getElementById("bt2");
  let theCanvas = document.querySelector('#canvas');
  let context = theCanvas.getContext('2d')
  let isAllowDrawLine = false;
  var username = localStorage.getItem("username");
  var countDown = 60;
  var items = ['apple','cat','car','house','sun'];
  var hasDrawn = [false,false,false,false,false];
  var answer;
  socket = io.connect('http://localhost:8080');
  var chosen;
  console.log(username);
  if(username == "kid"){
    initCanvas();
    select();
    document.getElementById("bt2").style.display = "none";
    document.getElementById("guess").style.display = "none";
    document.getElementById("clean").style.display = "inline";
  }
  bt2.onclick = function(){
    var g = document.getElementById("guess").value;
    guess(g);
  }
  var clean = document.getElementById("clean");
  clean.onclick = function(){
    theCanvas.height = theCanvas.height;
    socket.emit("clean","");
  }
  var giveUp = document.getElementById("giveUp");
  giveUp.onclick = function(){
    socket.emit("giveUp","");
  }
  function guess(g){
    socket.emit("guess",g);
  }
  function select(){
    var flag = false;
    for(var i=0;i<5;i++){
      if(!hasDrawn[i]){
        flag = true;
        break;
      }
    }
    if(!flag){
      for(var i=0;i<5;i++){
        hasDrawn[i] = false;
      }
    }
    do{
      chosen = Math.floor(Math.random()*5)
    }while (hasDrawn[chosen]);
    hasDrawn[chosen] = true;
    document.getElementById("stat").innerText = "Please draw: " + items[chosen];
    answer = items[chosen];
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange=function() {
      if (xmlHttp.readyState==4 && xmlHttp.status==201) {
        console.log("Success set answer");
      }
    };
    xmlHttp.open('POST', 'http://127.0.0.1:3000/game/answer', true);
    xmlHttp.send(items[chosen]);
  }
  function initCanvas() {
    theCanvas.onmousedown = function (e) {
      isAllowDrawLine = true;
      let ele = windowToCanvas(theCanvas, e.clientX, e.clientY)
      let {x, y} = ele;
      context.moveTo(x, y);
      socket.emit('down', {x: x, y: y});
      theCanvas.onmousemove = (e) => {
        if (isAllowDrawLine) {
          let ele = windowToCanvas(theCanvas, e.clientX, e.clientY)
          let {x, y} = ele;
          context.lineTo(x, y);
          context.stroke();
          socket.emit('move', {x: x, y: y});
        }
      }
    }
    theCanvas.onmouseup = function () {
      isAllowDrawLine = false;
    }
  }

  const windowToCanvas = (canvas, x, y) => {
    let rect = canvas.getBoundingClientRect()
    return {
      x: x - rect.left * (canvas.width/rect.width),
      y: y - rect.top * (canvas.height/rect.height)
    }
  }


  socket.on('data',(data)=>{
    console.log(data);
  });
  socket.on('move',(data)=>{
    var x = data.x;
    var y = data.y;
    context.lineTo(x, y);
    context.moveTo(x, y);
    context.stroke();
  });
  socket.on('down',(data)=>{
    var x = data.x;
    var y = data.y;
    context.moveTo(x, y);
  })
  socket.on("success",(data)=>{
    document.getElementById("result").innerText = "Good job!\nNew games starts in 5 seconds...";
    setTimeout("init()",5000);
  });
  socket.on("fail",(data)=>{
    document.getElementById("result").innerText = "Sorry, please try again";
  });
  socket.on("clean",(data)=>{
    theCanvas.height = theCanvas.height;
  });
  socket.on("giveUp",(data)=>{
    document.getElementById("result").innerText = "The player gives up \nNew game will start in 5 seconds...";
    setTimeout("init()",5000);
  });

  function init(){
    countDown = 60;
    //setInterval("count()",1000);
    if(username == "kid") {
      select();
    }
    theCanvas.height = theCanvas.height;
    document.getElementById("result").innerText = "";
  }
/*
  function count(){
    countDown --;
    var c = document.getElementById("countDown");
    c.innerText = "Time left: " + countDown + " seconds";
    if(countDown == 0){
      var ans ="";
      if(username!='kid') ans = "The answer is: "+answer+"\n";
      document.getElementById("result").innerText = "Time out!\n"+ans+"New game will start in 5 seconds...";
      setTimeout("init()",5000);
    }
  }
*/
</script>