<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EDU-X<</title>
  <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
  <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="/dist/css/flat-ui.css" rel="stylesheet">
  <link href="/docs/assets/css/demo.css" rel="stylesheet">
  <!--<link href="docs/assets/css/chat.css", rel="stylesheet">-->
  <link rel="../static/shortcut icon" href="/dist/favicon.ico">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!--<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
  <!--<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css">
  <style>
    .card{
      display:inline-block;
    }
    .card-title{
      text-align: center;
    }
  </style>
</head>
<body style="background-image:url('/images/bg.jpg')">
<div class="row demo-row">
  <div class="col">
    <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
      <a class="navbar-brand" href="#">EDU-X</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav ml-auto">
          <li><a href="#fakelink">User<span class="navbar-unread">1</span></a></li>
          <li><a href="#fakelink">Log Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
  </div>
</div> <!-- /row -->

<div class="row demo-samples">
  <div class="col-2">
    <div class="todo">
      <ul>
        <li>
          <div class="todo-icon fui-calendar"></div>
          <div class="todo-content">
            <p></p>
            <h2 class="todo-name">
              <a href="/"><div style="color: white">Calendar</div></a>
            </h2>
          </div>
        </li>
        <li>
          <div class="todo-icon fui-user"></div>
          <div class="todo-content">
            <p></p>
            <h2 class="todo-name">
              <a href="/video"><div style="color: white">Video Conference</div></a>
            </h2>
          </div>
        </li>
        <li class="todo-done">
          <div class="todo-icon fui-eye"></div>
          <div class="todo-content">
            <p></p>
            <h2 class="todo-name">
              <a href="/gameSelect"><strong>Mini Game</strong></a>
            </h2>
          </div>
        </li>
        <li>
          <div class="todo-icon fui-chat"></div>
          <div class="todo-content">
            <p></p>
            <h2 class="todo-name">
              <a href="/ai"><div style="color: white">AI Assistant</div></a>
            </h2>
          </div>
        </li>
        <li>
          <div class="todo-icon fui-gear"></div>
          <div class="todo-content">
            <p></p>
            <h2 class="todo-name">
              <a href="/settings"><div style="color: white">Notification Settings</div></a>
            </h2>
          </div>
        </li>
        <li>
          <div class="todo-icon fui-image"></div>
          <div class="todo-content">
            <p></p>
            <h2 class="todo-name">
              <a href="/gallery"><div style="color: white">Art Gallery</div></a>
            </h2>
          </div>
        </li>
      </ul>
    </div><!-- /.todo -->
  </div><!-- /.col-4 -->
<div class="gameSelect">

  <div>

    <div class="card-group">
      <div class="card" style="width: 500px" >
        <a href = "/game" > <img class="card-img-top"  src="images/minigame_1.jpg" style="width: 100%"></a>
        <div class="card-block">
          <h4 class="card-title">Draw & Guess</h4>
        </div>
      </div>
      <div class="card" style="width: 500px">
        <img class="card-img-top" src="images/minigame_2.jpg" alt="Card image" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title">Pong Game</h4>
        </div>
      </div>
    </div>
  </div>

</div>
<script>

</script>
</body>

</html>
