<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css">
  <style>
    .card{
      display:inline-block;
    }
    .card-title{
      text-align: center;
    }
  </style>
</head>
<body>

<div class="gameSelect">

  <div>

    <div class="card-group">
      <div class="card" style="width: 500px" >
        <a href = "/game" > <img class="card-img-top"  src="images/minigame_1.jpg" style="width: 100%"></a>
        <div class="card-block">
          <h4 class="card-title">Draw & Guess</h4>
        </div>
      </div>
      <div class="card" style="width: 500px">
        <img class="card-img-top" src="images/minigame_2.jpg" alt="Card image" style="width: 100%">
        <div class="card-block">
          <h4 class="card-title">Pong Game</h4>
        </div>
      </div>
    </div>
  </div>

</div>
<script>

</script>
</body>

</html>