
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EDU-X</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/dist/css/flat-ui.css" rel="stylesheet">
    <link href="/docs/assets/css/demo.css" rel="stylesheet">
    <!--<link href="docs/assets/css/chat.css", rel="stylesheet">-->
    <link rel="../static/shortcut icon" href="/dist/favicon.ico">
</head>

<body>
    <!--<p></p>-->
    <div class="row demo-row">
        <div class="col">
            <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
                <a class="navbar-brand" href="#">EDU-X</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav ml-auto">
                        <li><a href="#fakelink">User<span class="navbar-unread">1</span></a></li>
                        <li><a href="#fakelink">Log Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
        </div>
    </div> <!-- /row -->

    <div class="row demo-samples">
        <div class="col-2">
            <div class="todo">
                <ul>
                    <li>
                        <div class="todo-icon fui-calendar"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/"><strong>Calendar</strong></a>
                            </h2>
                        </div>
                    </li>
                    <li class="todo-done">
                        <div class="todo-icon fui-user"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/video"><strong>Video Conference</strong></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-eye"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/gameSelect"><strong>Mini Game</strong></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-chat"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/"><strong>AI Assistant</strong></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-gear"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/"><strong>Notification Settings</strong></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-image"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/gallery"><strong>Art Gallery</strong></a>
                            </h2>
                        </div>
                    </li>
                </ul>
            </div><!-- /.todo -->
        </div><!-- /.col-4 -->

        <div class="col-8">
            <div class="row demo-tiles">
                <div class="col">
                    <div class="tile tile-hot">
                        <img src="/docs/assets/images/icons/ribbon.svg" alt="ribbon" class="tile-hot-ribbon">
                        <img src="/docs/assets/images/icons/compas.svg" alt="Compas" class="tile-image big-illustration">
                        <h3 class="tile-title">Class A1</h3>
                        <p>Parents' Meeting with <strong>16</strong> people involved</p>
                        <a class="btn btn-primary btn-large btn-block" href="/video/detail">Join</a>
                    </div>
                </div>

                <div class="col">
                    <div class="tile">
                        <img src="/docs/assets/images/icons/loop.svg" alt="Infinity-Loop" class="tile-image">
                        <h3 class="tile-title">Class A2</h3>
                        <p>Parents' Meeting with <strong>15</strong> people involved</p>
                        <a class="btn btn-primary btn-large btn-block" href="/video/join">Join</a>
                    </div>
                </div>

                <div class="col">
                    <div class="tile">
                        <img src="/docs/assets/images/icons/pencils.svg" alt="Pensils" class="tile-image">
                        <h3 class="tile-title">Class A3</h3>
                        <p>Reading Party with <strong>12</strong> people involved</p>

                        <a class="btn btn-primary btn-large btn-block" href="/video/join">Join</a>
                    </div>
                </div>

                <div class="col">
                    <div class="tile">

                        <img src="/docs/assets/images/icons/chat.svg" alt="Chat" class="tile-image">
                        <h3 class="tile-title">Class B2</h3>
                        <p>Drawing Class with <strong>9</strong> people involved</p>

                        <a class="btn btn-primary btn-large btn-block" href="/video/join">Join</a>
                    </div>

                </div>
            </div> <!-- /tiles -->
        </div> <!-- /video -->
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="/dist/scripts/flat-ui.js"></script>
    <script src="/docs/assets/js/application.js"></script>

</body>
</html>
