<html>
<head>
  <title></title>
  <meta charset="utf-8">

  <style type="text/css">
    fieldset{width: 450px;height: 200px;margin: 250px 500px 0px}



  </style>
</head>
<body style="background-image:url('/images/bg.jpg')">

  <fieldset>
    <legend align="center">Log In</legend></br>
    <label>Username:</label>
    <input type="text" id="username">  'kid' or 'parent'</br></br>
    <label>Password: </label>
    <input type="Password" id="pwd1">
    <button name="" onclick="login()" style = "width:100px;align:center;background-color:#54C8FF;height:40px; border:none;border-radius: 4px;margin-left:5px">Log in</button>
  </fieldset>

</body>

</html>
<script type="text/javascript">

  function login(){
    var username = document.getElementById("username").value;
    if(username!="kid"&&username!='parent'){
      alert("Please set username to be 'kid' or 'parent");
      return;
    }
    localStorage.setItem("username",username);
    window.location.href="https://better-edu.herokuapp.com/";
  }
</script>