
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EDU-X</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.css">
    <link href="/dist/css/flat-ui.css" rel="stylesheet">
    <link href="/docs/assets/css/demo.css" rel="stylesheet">
    <link rel="../static/shortcut icon" href="/dist/favicon.ico">
</head>

<body style="background-image:url('/images/bg.jpg')">
    <!--<p></p>-->
    <div class="row demo-row">
        <div class="col">
            <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
                <a class="navbar-brand" href="#">EDU-X</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav ml-auto">
                        <li><a href="#fakelink">User<span class="navbar-unread">1</span></a></li>
                        <li><a href="/login">Log Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
        </div>
    </div> <!-- /row -->

    <div class="row demo-samples">
        <div class="col-2">
            <div class="todo">
                <ul>
                    <li><a href = "/">
                        <div style="color: white" class="todo-icon fui-calendar"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <div style="color: white">Calendar</div>
                            </h2>
                        </div></a>
                    </li>
                    <li class="todo-done"><a href = "/video">
                        <div class="todo-icon fui-user"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/video"><strong>Video Conference</strong></a>
                            </h2>
                        </div>
                    </a>
                    </li>
                    <li><a href = "/gameSelect">
                        <div style="color: white" class="todo-icon fui-eye"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/gameSelect"><div style="color: white">Mini Game</div></a>
                            </h2>
                        </div>
                    </a>
                    </li>
                    <li><a href = "/ai">
                        <div style="color: white" class="todo-icon fui-chat"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/ai"><div style="color: white">AI Assistant</div></a>
                            </h2>
                        </div></a>
                    </li>
                    <li><a href = "/settings">
                        <div style="color: white" class="todo-icon fui-gear"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/settings"><div style="color: white">Notification Settings</div></a>
                            </h2>
                        </div></a>
                    </li>
                    <li><a href = "/gallery">
                        <div style="color: white" class="todo-icon fui-image"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/gallery"><div style="color: white">Art Gallery</div></a>
                            </h2>
                        </div></a>
                    </li>
                </ul>
            </div><!-- /.todo -->
        </div><!-- /.col-4 -->

        <div class="col-7">
            <video
                    id="my-player"
                    class="video-js"
                    controls
                    preload="auto"
                    poster="docs/assets/images/video/poster.jpg"
                    data-setup='{}'>
                <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4"></source>
                <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm"></source>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">
                        supports HTML5 video
                    </a>
                </p>
            </video>

            <table><tr><td style="width:100%;height:26px;font-size:14px;border:0"></td></tr></table>
            <span style="font-size: 30px; ">Classroom 109 - Parents' Meeting</span>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="font-size: 26px; ">14 : 32</span>

        </div> <!-- /video -->

        <div class="col-3">
            <span style="font-size: 24px; ">16 Joined Users</span>
            <div class="ui relaxed list">
                <div class="item">
                    <img class="ui avatar image" src="/images/tom.jpg">
                    <div class="content">
                        <a class="header">Daniel Louise (John's Dad)</a>
                        <div class="description">Joined at <a><b>14:24</b></a> </div>
                    </div>
                </div>
                <div class="item">
                    <img class="ui avatar image" src="/images/nan.jpg">
                    <div class="content">
                        <a class="header">Stevie Feliciano (Micky's Mom)</a>
                        <div class="description">Joined at <a><b>14:22</b></a> </div>
                    </div>
                </div>
                <div class="item">
                    <img class="ui avatar image" src="/images/nan.jpg">
                    <div class="content">
                        <a class="header">Elliot Fu (Teacher)</a>
                        <div class="description">Joined at <a><b>14:17</b></a> </div>
                    </div>
                </div>
                <div class="item">
                    <img class="ui avatar image" src="/images/tom.jpg">
                    <div class="content">
                        <a class="header">Hakan Browns (Sari's Dad)</a>
                        <div class="description">Joined at <a><b>14:17</b></a> </div>
                    </div>
                </div>
            </div>

            <table><tr><td style="width:100%;height:10px;font-size:14px;border:0"></td></tr></table>
            <span style="font-size: 24px; ">Online Chatting</span>
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/tom.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Daniel Louise</a>
                        <div class="metadata">
                            <div class="date">2 minutes ago</div>
                        </div>
                        <div class="text">
                            Hello, Ms. Elliot.
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/nan.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Daniel Louise</a>
                        <div class="metadata">
                            <div class="date">3 minutes ago</div>
                        </div>
                        <div class="text">
                            Pretty good!
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/nan.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Daniel Louise</a>
                        <div class="metadata">
                            <div class="date">3 minutes ago</div>
                        </div>
                        <div class="text">
                            How's the conference going?
                        </div>
                    </div>
                </div>
                <table><tr><td style="width:100%;height:10px;font-size:14px;border:0"></td></tr></table>
                <div class="col-9">
                    <input type="text" value="" placeholder="Type Here" class="form-control" />
                    <table><tr><td style="width:100%;height:8px;font-size:14px;border:0"></td></tr></table>
                    <a href="#" class="btn btn-block btn-lg btn-info">Send</a>
                </div>
            </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="/dist/scripts/flat-ui.js"></script>
    <script src="/docs/assets/js/application.js"></script>

</body>
</html>
