
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EDU-X<</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/dist/css/flat-ui.css" rel="stylesheet">
    <link href="/docs/assets/css/demo.css" rel="stylesheet">
    <!--<link href="docs/assets/css/chat.css", rel="stylesheet">-->
    <link rel="../static/shortcut icon" href="/dist/favicon.ico">
</head>

<body style="background-image:url('/images/bg.jpg')">
    <!--<p></p>-->
    <div class="row demo-row">
        <div class="col">
            <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
                <a class="navbar-brand" href="#">EDU-X</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav ml-auto">
                        <li><a href="#fakelink">User<span class="navbar-unread">1</span></a></li>
                        <li><a href="#fakelink">Log Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
        </div>
    </div> <!-- /row -->

    <div class="row demo-samples">
        <div class="col-2">
            <div class="todo">
                <ul>
                    <li><a href = "/">
                        <div class="todo-icon fui-calendar"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/"><div style="color: white">Calendar</div></a>
                            </h2>
                        </div></a>
                    </li>
                    <li class="todo-done">
                        <div class="todo-icon fui-user"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/video"><strong>Video Conference</strong></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-eye"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/gameSelect"><div style="color: white">Mini Game</div></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-chat"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/ai"><div style="color: white">AI Assistant</div></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-gear"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/settings"><div style="color: white">Notification Settings</div></a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="todo-icon fui-image"></div>
                        <div class="todo-content">
                            <p></p>
                            <h2 class="todo-name">
                                <a href="/gallery"><div style="color: white">Art Gallery</div></a>
                            </h2>
                        </div>
                    </li>
                </ul>
            </div><!-- /.todo -->
        </div><!-- /.col-4 -->

        <div class="col-3">
            <p></p>
            <table><tr><td style="width:100%;height:56px;font-size:14px;border:0"></td></tr></table>
            <div class="col">
                <a href="/video/setting" class="btn btn-block btn-lg btn-primary">Create a Video Conference</a>
            </div>
            <p></p>
            <div class="col">
                <a href="/video/join" class="btn btn-block btn-lg btn-info">View and Join Video Conferences</a>
            </div>

        </div> <!-- /video -->
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="/dist/scripts/flat-ui.js"></script>
    <script src="/docs/assets/js/application.js"></script>

</body>
</html>
